* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Nunito, Verdana, Geneva, Tahoma, sans-serif;
  font-size: 62.5%;
  line-height: 1.7;
}

:root {
  /* Color Scheme */
  --light-shade: #DFE7E8;
  --light-accent: #C4D2D4;
  --light-accent-2: #AEC2C5;
  --brand-color-main: #3E2E37;
  --brand-color-accent: #5b4451;
  --light-text: #777777;
  --lighter-text: #BCBCBC;

  /* Font Sizes */
  --small: 1.2rem;
  --base: 1.6rem;
  --large: 2rem;
  --larger: 2.4rem;
}

body {
  background-color: var(--brand-color-main);
}

main {
  background-color: var(--light-shade);
  max-width: 90rem;
  margin: 1vh auto;
  border-radius: 20px;
  height: 98vh;
}

a {
  color: var(--brand-color-main);
  text-decoration: none;
}

a:hover {
  color: var(--brand-color-accent);
  text-decoration: underline;
}

.form {
  padding: 4rem;
  max-width: 50rem;
  margin: 8rem auto;
  border-radius: 2rem;
  background-color: var(--light-shade);
  display: flex;
  flex-direction: column;
}

.form__header {
  font-size: var(--larger);
  text-align: center;
  margin-bottom: 1rem;
}

.form__group {
  margin: 1rem 0;
}

.form__label {
  font-size: var(--base);
}

.form__input {
  width: 100%;
  padding: 1rem;
  font-size: var(--base);
  border-radius: 1rem;
  border: 0;
  outline: none;
}

.form__muted {
  color: var(--light-text);
  margin-top: 1rem;
  margin-left: 1rem;
}

.form__error {
  color: red;
  font-size: var(--base);
}

.form__error em {
  font-weight: normal;
}

.form__submit {
  padding: 1rem 2rem;
  margin-top: 1rem;
  border: 0;
  border-radius: 2rem;
  font-size: var(--base);
  background-color: var(--brand-color-main);
  color: #fff;
  outline: none;
  cursor: pointer;
}

.form__submit:hover,
.form__submit:focus {
  background-color: var(--brand-color-accent);
}

.form__link {
  margin-top: 2rem;
  text-align: center;
  font-size: var(--small);
}

.form__link a {
  margin-left: 1rem;
}
